name: JVM

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  SONATYPE_USERNAME: not_needed
  SONATYPE_PASSWORD: not_needed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@master
      - name: Checkout Git branch
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x jvm/gradlew
      - name: Build and run JVM tests with Gradle
        run: cd jvm && ./gradlew clean assemble publishToMavenLocal
      - name: Build and run Spark tests with Gradle
        run: cd spark && ./gradlew clean assemble
