name: JVM

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  SONATYPE_USERNAME: not_needed
  SONATYPE_PASSWORD: not_needed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git branch
        uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Build and run JVM tests with Gradle
        run: cd jvm && ./gradlew publishToMaven
      - name: Build and run Spark tests with Gradle
        run: cd spark && ./gradlew clean assemble test
